@{
    ViewBag.Title = "Sobre nós";
}
<div class="container">
    <h2>@ViewBag.Title</h2>
    <div class="row">
        <div class="col-xs-6 col-md-4 thumbnail">
            <img src="~/Content/Images/sobrenos1.jpg" alt="PTBM" />
        </div>
        <div class="col-xs-6 col-md-4 thumbnail">
            <img src="~/Content/Images/sobrenos2.jpg" alt="PTBM" />
        </div>
        <div class="col-xs-6 col-md-4 thumbnail">
             <img src="~/Content/Images/sobrenos3.jpg" alt="PTBM" />
        </div>
    </div>
     <div class="row">
         <p>
            O Serviço da Pastoral do Turismo da Diocese de Bragança-Miranda foi formalmente constituído em 25 de março de 2013, pela provisão n.º 2/2013 de sua Exa. Reverendíssima D. José Cordeiro.<br />
            <br />
            <h3>Objetivos</h3><br />

            Considerando que o turismo é uma realidade social à qual a Igreja deve prestar uma atenta solicitude, os principais objetivos deste serviço diocesano são:<br />

            Fazer brilhar sobre o turismo a luz do Evangelho;<br />
            Potenciar as motivações da fé e a procura do bem e da beleza inscrita no ser humano;<br />
            Contribuir para o desenvolvimento integral do Nordeste Transmontano.<br />
            <br />
            <h3>Equipa</h3><br />

            Este serviço é formado pela seguinte equipa:<br />
            <br />
            Padre Fernando Licínio Alves Fontoura<br />
            Alexandrina Isabel Afonso Fernandes<br />
            Jorge Humberto Sampaio<br />
            Manuel José Serra de Sousa Cardoso<br />
            Sandra Maria Ferreira do Sacramento<br />
        </p>
      </div>
</div>
