@{
    ViewBag.Title = "Quem somos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Somos tres urso que em vez de andarmos as gajas, andamos a fazer o trabalho para o Ar Lindo receber os louvores.</p>
