@{
    ViewBag.Title = "Contactos";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Moulan Rouge<br />
    Casa do Ti Belchior<br />
    <abbr title="Phone">Tlf:</abbr>
    962 673 757
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">help@pdmbraganca.pt</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">marketing@pdmbraganca.pt</a>
</address>