@using Jmelosegui.Mvc.GoogleMap
@model IEnumerable<PTurismo.Models.Poi>

@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="container-fluid">
        <div class="col-md-6">
            @(Html.GoogleMap()
              .Name("map")
              .Height(800)
              .ApiKey("AIzaSyAYC419uGMGyG-Lhc5gPRxzRm1q2Uu1b-4")
              .Center(c => c.Latitude(41.130325).Longitude(-7.097716))
              .FitToMarkersBounds((bool)ViewData["FitToMarkersBounds"])
              
              .Draggable((bool)ViewData["draggable"])
              .Markers(m =>
              {

                  foreach (var p in Model)
                  {
                      m.Add().Latitude(p.latitude).Longitude(p.longitude);

                  }
              })
            )
        </div>
        <div class="col-md-6">
            Descrever
        </div>
    </div>

</div>

@section scripts
{
    @(Html.GoogleMap().ScriptRegistrar())
}