@model PTurismo.Models.GaleriaPoi

@{
    ViewBag.Title = "Detalhes";
}

<h2>Detalhes</h2>

<div>
    <h4>GaleriaPoi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Legenda:
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Legenda)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.GaleriaPoiID }) |
    @Html.ActionLink("Voltar à lista", "Index")
</p>
