body {
    background-image: url('/Content/Images/BodyBackground/background3.png');
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.form-actions {
    margin-left: 95px;
}

.bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 7px;
    margin-right: 15px;
}

#rowprincipal{
    background-color: rgba(245, 245, 245, 0.80);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

#mapafixe{
    margin-top: 0px;
}


