body {
    background-image: url('/Content/Images/BodyBackground/background3.png');
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 10px;
    padding-right: 10px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.form-actions {
    margin-left: 95px;
}

.row{
    margin-right: 0px;
    margin-left: 0px;
}

.bottom {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 7px;
    margin-right: 20px;
}

.bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 60px;
    margin-left: 10px;
}


.row-principal{
    background-color: rgb(255, 255, 255);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.row-table{
    background-color: rgb(255, 255, 255);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: inline-table;
    padding: 30px;
}

.row-edit{
    background-color: rgb(255, 255, 255);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: block;
    padding: 30px;
}

#mapa-margin{
    margin-top: 0px;
}

.img-thumbnail{
    width: 150px;
    height: 150px;
}

div.thumbnail{
    display: flex;
    margin-bottom: 0px;
}

div.thumbnail div{
    float: left;
    margin: 0.1%;
}

div.thumbnail div:last-child{
   text-align: left;
}

div.thumbnail ul{
    list-style-type: none;
    padding-left: 0px !important;
}

.black-color {
    color: black;
}

.white-color{
    color: white;
}

.img-poi{
    width: 282px;
    height: 175px;
}

.row-poi{
    height: 600px;
    background-color: rgb(255, 255, 255);
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
   
}

.bottom-poi{
    position: absolute;
    bottom: 0;
    margin-bottom: 7px;
     width: 95%;
}

.buttons-poi{
    width: 100%;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
      width: 65%;
      height: 450px;
      margin: auto;
}

.row-scroll{
    overflow: auto;
    height: 540px;
}

.embed-responsive-16by9{
    padding-bottom: 37%;
}